# Python
__pycache__/
*.pyc

# Environments
.env
.venv

# Conda
envs/

# Build
build/
dist/
*.egg-info/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Aforix
runs/
outputs/
data/
borrar/
database/
#Archivos
crear_carpetas.py
tree_aforix.txt
donde_me_quedo.txt
# seguridad extra
runs/**
data/**
database/**

# por si acaso
*.csv
*.xlsx
*.parquet 
